/*  ====================
            TEXT
    ==================== */
@font-face {
    font-family: 'corbertregular';
    src: url('Corbert-Regular-webfont.eot');
    src: url('Corbert-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Corbert-Regular-webfont.woff') format('woff'),
         url('Corbert-Regular-webfont.ttf') format('truetype'),
         url('Corbert-Regular-webfont.svg#corbertregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
.about{
    text-align: left;
    @media screen and (max-width: 1200px){
        text-align: center;
        width: 70%;
        margin-left: 15%
    }
    @media screen and (max-width: 720px){
        text-align: center;
        width: 80%;
        margin-left: 10%
    }
}
.blurb p,
.about p,
label{
    color: #787267;
    margin: 0;
}
.blurb{
    text-align: center;
}
/*  ====================
        CONTAINERS
    ==================== */
html {
    overflow-y: scroll;
}
body{
    background: #fff;
    font-family: 'corbertregular','Cabin', 'Josefin Sans', sans-serif;
    color: #7BADC8;
}
.container{
    @media screen and (max-width: 980px){
        width: 85%;
    }
    @media screen and (max-width: 720px){
        width: 100%;
     }
}
.content{
    width: 100%;
    margin-top: auto;
    @media screen and (max-width: 980px){
        width: 100%
    }
}
.wrapper{ 
    p{
        color: #787267;
        text-align: center;
        margin: 0;
        @media screen and (max-width: 640px){
            padding: 0 5%;
        } 
    }
}
/*  ====================
        HEADER & NAV
    ==================== */
header,
nav{
    position: fixed;
    height:67px;
    width: 65.02%;
    max-width: 1000px;
    background: #fff;
    margin-top: auto;
    @media screen and (max-width: 980px){
        width: 85.02%;
    }
    @media screen and (max-width: 720px){
        width:100.02%;
    }
}
.left{
    margin-top: 30px;
    padding-left: 2.4%;
    li{
        margin-right: 10%;
        float:left;
        :first-child{
            @media screen and (max-width: 720px){
                padding-left: 3.5%;
            }
        }
        @media screen and (max-width: 640px){
            margin-right: 3%;
        }
        @media screen and (max-width: 440px){
            font-size: .9em
        }
    }
    a{
        color: #787267;
        text-decoration: none;
        list-style: none;
    }
}
.right{
    margin-top: 30px;
    padding-right: 2.4%;
    li{
        float: right;
        :first-child{
            @media screen and (max-width: 720px){
                padding-right: 3.5%;
            }
        }
        :last-child{
            @media screen and (max-width: 640px){
                margin-right: 3%;
            }
        }
        @media screen and (max-width: 440px){
            font-size: .9em
        }
    }
    .resume{
        margin-right: 10%;
    }
    a{
        color: #787267;
        text-decoration: none;
        list-style: none;
    }
}
hr{
    border: 0;
    height: 2px;
    width: 100%;
    margin-top: 65px;
    margin-bottom: 0;
    background: #7BADC8;
}
.intro {
    width: 100%;
    margin: 115px 0 130px 0;
    height: 0;
    text-align: center;
    font-size: 1em;
    font-style: normal;
    @media screen and (max-width: 720px){
        margin: 100px 0;
    }
    @media screen and (max-width: 280px){
        font-size: .7em;
    }
}
h1{
    margin: 0 0 20px 0;
    letter-spacing: 10px;
    padding-left: 1.8%;
}
.sub_intro{
    font-size: 0.5em;
    letter-spacing: 4px;
}
h2 span{
    letter-spacing: 2.75px;
}
/*  ====================
           IMAGES
    ==================== */
img{
    width: 100%;
}
.home-image{
    width: 49%;
    @media screen and (max-width: 720px){
        width: 65%; /* 250px / 480px */
        padding: 0 17.5% 10px 17.5%;
        margin: 0;
        :first-child{
            padding-bottom: 20px;
            margin: 0;
        }
        :last-child{
            margin: 0;
        }

    }
}
.selfie{
    @media screen and (max-width: 1200px){
        width:70%;
        padding: 0 15%;
    }
    @media screen and (max-width: 720px){
        width:80%;
        padding: 0 10%;
    }
}
.thumbs{
    @media screen and (max-width: 720px){
        width: 65%; /* 250px / 480px */
        padding: 0 17.5% 10px 17.5%;
        margin: 0;
    }
}
.detail1,
.detail2{
    @media screen and (max-width: 720px){
        width: 70%; /* 198px / 480px */
        padding: 0 15%;
    }
}
/*  ====================
        CONTACT FORM
    ==================== */
form{
    width: 375px;
    margin: 34px auto;
    @media screen and (max-width: 440px){
        width: 90%;
        margin: 5% 5%;
    } 
    tr{
        border: 1px solid #787267;
        background: rgba(123, 173, 200, 0.6);
    }
    table{
        width: 375px;
        margin-bottom: 16px;
        @media screen and (max-width: 440px){
            width: 100%;
            margin-bottom: 2.5%;
        }
    }
    th{
        width: 85px;
        border-right: 1px solid #787267;
        vertical-align: middle;
        padding: 8px;
        @media screen and (max-width: 440px){
            width: 2.1%;
            padding: 1.25%;
        }
    }
    td{
        padding: 15px 15px;
        @media screen and (max-width: 440px){
            padding: 2.3% 2.3%;
        }
    }
    select, input, textarea, input[type="submit"]{
        width: 100%;
        font-family: 'corbertregular','Cabin', 'Josefin Sans', sans-serif;
    }
    input[type="submit"]{
        width: 375px;
        text-align: center;
        border: 1px solid #787267;
        background: rgba(123, 173, 200, 0.6);
        color: #787267;
        -webkit-border-radius: 2px;
        border-radius: 2px;    
        font-size: 1em;
        padding: 14px;
        float: right;
        @media screen and (max-width: 440px){
            width: 100%;
            padding: 2.2%;
        }
    }
}
/*  ====================
      FOOTER & PAGE NAV
    ==================== */
.foot{
    margin-top: 15px;
}
.prev{
      margin-right: 0;
      padding-right: 5px;
}
.prev-last{
    margin-right: 2.4%;
}
.next-nav img{
    padding-right: 2.4%;
}
.back-nav{
    text-align: left;
    margin: 0;
    img{
        margin-left: 2.4%;
        margin-right: 5px;
    }
}
.page-nav{
    width: 100%;
    max-height: 20px;
    margin-top: 20px;
    margin-bottom: 0;
    a{
        text-decoration: none;
        color: #787267;
        @media screen and (max-width: 440px){
            font-size: .9em;
        }
    }
    img{
        @media screen and (max-width: 440px){
            display: none;
        }
    }
}
.back-nav{
    text-align: left;
    img{
        width: 11px; 
        height: 16px;
        margin-left: 5px;
        margin-left: 0;
        margin-right: 5px;
    }
}
.next-nav{
    text-align: right;
    margin-bottom: 0;
    a:nth-child(2){
        padding-left: 15px;
    }
    img{
        width: 11px; 
        height: 16px;
        margin-left: 5px;
    }
}
.icons{
    padding-left: 2.4%;
    @media screen and (max-width: 720px){
        margin: 10px 0;
        padding: 0 5%;
    }
    @media screen and (max-width: 640px){
        padding: 0 3%;
    }
    @media screen and (max-width: 280px){
        margin-left: 45px;
    }
    img{
        height: 36px;
        width: 36px;
        text-align: center;
        margin: 15px 3% 0 0;
        float:left;
        @media screen and (max-width: 720px){
            height: 30px;
            width: 30px;
        }
        @media screen and (max-width: 280px){
            height: 20px;
            width: 20px;
        }
    }
}
.copyright{
    text-align: right;
    color: #787267;
    float:right;
    margin-top: 25px;
    padding-right: 2.4%;
    @media screen and (max-width: 640px){
        font-size: .8em;
    }
}
/*  ====================
        MISCELLANEOUS
    ==================== */
.empty-div{
    clear: both;
}
